DirectoryIndex index.php

RewriteEngine on
RewriteBase @rewritebase
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|robots\.txt|media)

RewriteRule ^(.*)$ index.php?/$1 [L]
