.players {
	float: left;
	width: 20%;
}
.players__header {
	color: $light-gray;
	padding: 16px;
	text-align: center;
}
.players__list {
	color: $bluegreen;
	list-style: none;
	padding: 16px;
	margin: 0;
}

.content {
	float: right;
	width: 80%;
}

.images {
	width: 100%;
	margin-top: 8px;
}
.images__option {
	float: left;
	cursor: pointer;
	
	img {
		height: 200px;
	}
}
.images__option--selected {
	background: $dark-gray;
}
.images__id {
	text-align: center;
	color: $light-gray;
}

@media screen and (max-width: 1024px) {
	.players, .content {
		width: 100%;
		float: none;
	}
}
@media screen and (max-width: 480px) {
	.name, .avatar {
		width: 100%;
	}
}