.players {
	float: left;
	width: 20%;
}
.players__header {
	@include formField__header();
}
.players__list {
	color: $bluegreen;
	list-style: none;
	padding: 16px;
	margin: 0;
}
.players__delete__select {
	@include formField(60%);
}
.players__delete__submit {
	@include formField(40%);
}

.content {
	float: right;
	width: 80%;
}

.name {
	@include formField(50%);
}
.name__header {
	@include formField__header();
}

.avatar {
	@include formField(50%);
}
.avatar__header {
	@include formField__header();
}

.images {
	width: 100%;
	margin-top: 8px;
}
.images__option {
	float: left;
	cursor: pointer;
	
	img {
		height: 200px;
	}
}
.images__option--selected {
	background: $dark-gray;
}
.images__id {
	text-align: center;
	color: $light-gray;
}

.submit {
	margin-top: 8px;
	@include formField(100%);
}

@media screen and (max-width: 1024px) {
	.players, .content {
		width: 100%;
		float: none;
	}
}
@media screen and (max-width: 480px) {
	.name, .avatar {
		width: 100%;
	}
}