.images {
	width: 100%;
	margin-top: 8px;
}
.images__option {
	float: left;
	cursor: pointer;
	
	img {
		width: 96px;
	}
}
.images__option--selected {
	background: $dark-gray;
}
.images__id {
	text-align: center;
	color: $light-gray;
}
