@mixin formField($width) {
	width: $width;
	float: left;
	text-align: center;
}
@mixin formField__header() {
	color: $light-gray;
	padding: 16px;
	text-align: center;
}

.game {
	@include formField(25%);
}
.game__header {
	@include formField__header();
}
.game__select, .game__select__option {
	color: $green;
}

.player {
	@include formField(30%);
}
.player__header {
	@include formField__header();
}
.player__select, .player__select__option {
	color: $orange;
}

.score {
	@include formField(15%);
}
.score__header {
	@include formField__header();
}
.score__select, .score__select__option {
	color: $green;
}

.submit {
	color: $green;
	background: $dark-gray;
	border: none;
	padding: 16px;
	margin-top: 16px;
	cursor: pointer;
	width: 100%;
}

@media screen and (min-width: 800px) {
	.content {
		width: 800px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 800px) {
	.player, .score, .game {
		width: 50%;
	}
}
@media screen and (max-width: 480px) {
	.player, .score, .game {
		width: 100%;
	}
	.player__header, .score__header, .game__header {
		width: 40%;
		padding: 16px 5%;
		float: left;
	}
	.player__select, .score__select, .game__select {
		width: 40%;
		padding: 16px 5%;
		float: left;
	}
}
@media screen and (max-width: 320px) {
	.player__header, .score__header, .player__select, .score__select {
		float: none;
		width: 100%;
	}
}

