.playerSelect {
	background: $dark-gray;
	width: 40%;
	float: left;
}
.playerSelect__header {
	padding: 16px;
	text-align: center;
}
.playerSelect__player {
	color: $yellow;
	padding: 8px;
	line-height: 32px;
	cursor: pointer;
	
	&.playerSelect__player--selected {
		background: $light-gray;
		color: $orange;
	}
	
	&:hover {
		color: $orange;
	}
}

.score {
	background: $dark-gray;
	width: 20%;
	float: left;
}
.score__header {
	padding: 16px;
	text-align: center;
}
.score__option {
	color: $green;
	padding: 8px 32px;
	text-align: center;
	
	&:hover {
		color: $bluegreen;
	}
	
	&.score__option--selected {
		background: $light_gray;
		color: $bluegreen;
	}
}

.submit {
	color: $green;
	background: $dark-gray;
	float: right;
	padding: 16px;
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	.playerSelect, .score {
		width: 100%;
	}
	.score__option {
		float: left;
	}
}