.player {
	background: $dark-gray;
	width: 40%;
	float: left;
}
.player__header {
	padding: 16px;
	text-align: center;
}
.player__select {
	background: $dark-gray;
	border: none;
	width: 100%;
}
.player__select__player {
	color: $yellow;
	padding: 8px;
	line-height: 32px;
	cursor: pointer;
}

.score {
	background: $dark-gray;
	width: 20%;
	float: left;
}
.score__header {
	padding: 16px;
	text-align: center;
}
.score__select {
	background: $dark-gray;
	border: none;
	width: 100%;
}
.score__select__option {
	color: $green;
	padding: 8px 32px;
	text-align: center;
}

.submit {
	color: $green;
	background: $dark-gray;
	border: none;
	float: right;
	padding: 16px;
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	.player, .score {
		width: 100%;
	}
	.score__option {
		float: left;
	}
}
@media screen and (min-width: 800px) {
	.content {
		width: 800px;
		margin: 0 auto;
	}
}