input {
	color: $white;
	background: $dark-gray;
	border: none;
	padding: 16px;
}
select {
	background: $dark-gray;
	border: none;
	padding: 16px;
	cursor: pointer;
}
option {
	padding: 8px;
	cursor: pointer;
}

.field {
	float: left;
	text-align: center;
}
.field__header {
	color: $light-gray;
	padding: 16px;
	text-align: center;
}
.field__select, .field__text, .field__file {
	color: $orange;
}
.field__submit {
	color: $green;
	background: $dark-gray;
	border: none;
	padding: 16px;
	margin-top: 16px;
	cursor: pointer;
	width: 100%;
}

@media screen and (min-width: 320px) {
	.field {
		width: 100%;
	}
	.field__header {
		width: 40%;
		padding: 16px 5%;
		float: left;
	}
	.field__select, .field__text, .field__file {
		width: 40%;
		padding: 16px 5%;
		float: left;
	}
}
@media screen and (max-width: 320px) {
	.field, .field__select, .field__text, .field__file {
		float: none;
		width: 100%;
	}
}