body {
	margin: 0;
	padding: 0;
	font-family: 'PressStart2P', 'Courier New', 'Droid Sans Mono', monospace, sans-serif;
	font-size: 16px;
	background: $darker-gray;
}
a {
	color: $black;
	text-decoration: none;
	cursor: pointer;
}

img {
	border: none;
}

@font-face {
	font-family: 'PressStart2P';
	src: url('../fonts/PressStart2P.eot');
	src: local('☺'), url('../fonts/PressStart2P.woff') format('woff'), url('../fonts/PressStart2P.ttf') format('truetype'), url('../fonts/PressStart2P.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}