.menu {
	width: 480px;
	margin: 0 auto;
	background: $dark-gray;
	text-align: center;
}
.menu__item {
	padding: 8px;
	line-height: 200%;
	color: $orange;
}

@media screen and (max-width: 480px) {
	.menu {
		width: 100%;
		margin: 0;
	}
}