.content__header {
	font-size: 32px;
	color: $yellow;
	text-align: center;
	margin: 16px 0;
}

section {
	margin-top: 16px;
}

@media screen and (min-width: 480px) {
	.content {
		width: 480px;
		margin: 0 auto;
	}
}