.content {
	width: 480px;
	margin: 0 auto;
}
.content__header {
	font-size: 32px;
	color: $yellow;
	text-align: center;
	margin: 16px 0;
}

.main, .aside {
	width: 100%;
}

.section {
	margin-top: 16px;
}
.section__header {
	font-size: 24px;
	color: $bluegreen;
	text-align: center;
	margin: 16px 0;
}

.note {
	color: $light-gray;
	margin: 16px 0;
	text-align: center;
}

@media screen and (max-width: 480px) {
	.content {
		width: 100%;
		margin: 0;
	}
}
@media screen and (min-width: 960px) {
	.content {
		width: 960px;
	}
	.main {
		width: 480px;
		float: left;
	}
	.main--center {
		margin: 0 auto;
		float: none;
	}
	.aside {
		width: 480px;
		margin: 0 0 0 480px;
	}
}