$black: #000000;
$darker-gray: #333333;
$dark-gray: #666666;
$light-gray: #DDDDDD;
$white: #FFFFFF;

$red: #BF2A3B;
$orange: #EB9710;
$yellow: #CCC90C;
$green: #99CC0C;
$bluegreen: #3FA676;

$column-width: 480px;